logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/upload
/lib
/bin/
/app/controllers/LoginController.scala
/app/bmlogic/login

/sbt-dist
.cache-main

test/UserTest.scala
