<!DOCTYPE html>
<html>
    <head>
        <title>关于</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/aboutus.css")">
    </head>
    <body>
        <div>
            <div>
                <div>
                    <h1>法律声明</h1>
                    <div class="main">
                        本平台产生的数据和报告均为北京法伯宏业科技发展有限公司制作，所属的数据、文字、图片、表格收到受到中国商标和著作权法律保护（市场分析报告中部分文字和数据采集于公开信息，所有权为原著者所有），没有经过公司局面许可，任何组织和个人不得使用本平台展示的信息用于其他商业目的。

                        <br>
                        <br>

                        本平台展示的数据和报告主要是公司采用原始样本数据，数据处理模型、行业访谈、市场调查、二手数据及其他研究方法分析获得，部分数据未经运营商直接认可。部分数据由于样本及处理方法等本身的限制，不能够完全反映真实市场情况。因此，本平台的数据和报告作为客户重要的市场参考资料，本公司对数据的包间准确性不承担法律责任。
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
