<!DOCTYPE html>
<html>
    <head>
        <title>联系我们</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/contactus.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <div class="top">
            <span class="title">联系我们</span><br>
            邮箱：<span class="en">contact@@pharbers.com</span><br>
            电话：<span class="number">010-84244216</span><br>
            地址：北京市朝阳区霄云路36号国航大厦1501
        </div>
        <div class="below">
            <div id="logo"></div>
            法伯科技<br>
            <span class="en">Pharbers Technology</span><br>
            让每个企业都能享受到数据带来的价值<br>
            <span class="en">Let every enterprise benefits from the value of data</span><br>
            <span class="end">WWW.PHARBERS.COM</span><br>
        </div>
    </body>
</html>
