@(reportid: String)
@main("PIC") {
    <link href="@routes.Assets.at("css/report.css")" rel="stylesheet">
    <script src='@routes.Assets.at("js/eachars/echarts.js")'></script>
    <script src='@routes.Assets.at("js/eachars/theme/dark.js")'></script>
    <script src='@routes.Assets.at("js/eachars/theme/infographic.js")'></script>
    <script src='@routes.Assets.at("js/eachars/theme/macarons.js")'></script>
    <script src='@routes.Assets.at("js/eachars/theme/roma.js")'></script>
    <script src='@routes.Assets.at("js/eachars/theme/vintage.js")'></script>
    <script src='@routes.Assets.at("js/eachars/ecommon.js")'></script>
} {
    <body onload="load()">
        <div id="loading" class="loader" >
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-5 screening-results" style="padding-left: 0;">您需要的市场报告：</div>
            <div class="col-xs-2 col-sm-4 col-md-6 col-lg-1 col-lg-offset-6" style="padding-left: 0; margin-top: 5px;">
                <div class="screen-box" id="screen_box"><a id="reset" class="search-btn" onclick="printContent()">打印报告</a></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class=" reportContent"><!-- mCustomScrollbar market-report-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border: 1px dashed #0070C0;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 30px;">
                            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 text-center">
                                <p><img src="../assets/images/reportimg/logo.png" alt="Logo"/></p>
                                <p class="logoText">WWW.PHARBERS.COM</p>
                                <p class="logoText">法伯科技</p>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10 text-right">
                                <p class="retortTitleCh">中国调脂药市场分析报告:医院市场<span class="categoryclasstitle"></span></p>
                                <p class="reportTime">2017年7月</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 reportSplitLine"></div>
                        <div class="h20"></div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @report.report_summary()
                            <div class="h10"></div>

                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-center smallContent">
                                医院<span style="color: #C00000;" class="categoryclasstitle"></span>市场表现
                            </div>

                            <div style="height: 5px; line-height: 5px;clear: both;"></div>

                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 descriContent xiaojieli" style="padding-left: 0;line-height: 25px;">
                                <ul style="padding-left: 20px;margin-bottom: 0px;">
                                    <li>医院市场总体表现：<span class="biaozhuColor"><span class="hospmarketsummarytime">NULL</span></span>增长率在<span class="biaozhuColor"><span class="hospmarketsummarytrend">NULL%</span></span>
                                        截止<span class="biaozhuColor"><span class="hospmarketsummaryendtime">NULL</span></span>年，年累计销售规模<span class="biaozhuColor"><span class="hospmarketsummarysales">xxx</span></span>亿元。
                                    </li>
                                        <!-- <li class="btprovince">不同省份市场表现：<span class="biaozhuColor"><span class="shengfxiaojtime">NULL-NULL</span>，<span class="shengfxiaojname">A、B、C</span></span>省份销售额复合增长率高达<span class="biaozhuColor"><span class="shengfxiaojvalue">a%、b%、c%</span></span>
                                    ，到<span class="biaozhuColor"><span class="shengfxiaojtime">NULL&nbsp;</span></span>累计一年&nbsp;<span class="biaozhuColor"><span class="shengfxiaojname">X、Y、Z</span></span>省份市场贡献率达到<span class="biaozhuColor"><span class="shengfxiaojvalue">x%、y%、z%</span></span>。
                                </li> -->
                                    <li>
                                        外资和本土产品竞争态势：市场集中度高，<span class="biaozhuColor"><span class="enterprisetime">NULL</span></span>，外资产品占<span class="biaozhuColor"><span class="enterprisepercent">NULL</span></span>以上的市场份额，
                                        <span class="biaozhuColor"><span class="enterpriseendtime">NULL</span></span>年累计一年以<span class="biaozhuColor"><span class="enterprisesales">NULL</span></span>亿元占<span class="biaozhuColor"><span class="enterprisepercent">NULL</span></span>。
                                    </li>
                                        <!-- <li>
                                    Top10厂家：<span class="biaozhuColor"><span class="top10changjiazhud">NULL</span></span>，<span class="biaozhuColor"><span class="top10changjiatime">NULL</span></span>，Top10厂家合计占<span class="biaozhuColor"><span class="top10changjiasumzb">NULL%</span>，</span>
                                    <span class="biaozhuColor"><span class="top10changjiachuse">NULL</span></span>厂家表现最为出色。
                                </li> -->
                                    <li>
                                        Top10产品：<span class="biaozhuColor"><span class="top10producttime">NULL-NULL</span></span>，中国医院<span class="biaozhuColor"><span class="categoryclass">NULL</span></span>，Top10的产品销售总额占到<span class="biaozhuColor">中国医院<span class="categoryclass">NULL</span></span>
                                        市场的<span class="biaozhuColor"><span class="top10producttrend">NULL</span></span>以上。<span class="biaozhuColor"><span id="top10productendtime">NULL</span>年累计一年</span>，Top10产品中<span class="biaozhuColor"><span id ="top10productouter">0</span></span>个为外资，<span class="biaozhuColor"><span class="top10productinter">0</span></span>个为内资产品，
                                        <span class="biaozhuColor"><span class="topone">A</span></span>产品表现最为突出。
                                    </li>
                                </ul>
                            </div>
                                <!-- 										页脚 -->
                                @*<%-- 					<jsp:include page="yejiao.jsp"/> --%>*@
                                <!-- 										页眉 -->
                                @*<%-- 					<jsp:include page="yemei.jsp"/> --%>*@
                                <!-- 					<div class="h10"></div> -->
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 descriContent xiaojieli" style="padding-left: 0;line-height: 30px;">
                                <ul style="padding-left: 20px;margin-bottom: 0px;">
                                    <div class="img7">
                                        <li>
                                            <span class="biaozhuColor"><span class="categoryclass">NULL</span></span>通用名市场分析：<span class="biaozhuColor"><span class="oraltime">NULL</span></span>，
                                            <span class="biaozhuColor"><span id="categorylst">NULL、NULL、NULL</span></span>分别在医院他汀类调脂药市场的销售额占比分别为<span class="biaozhuColor"><span id="categorylsttrend">NULL、NULL、NULL</span></span>。
                                        </li>
                                    </div>
                                    <li>
                                        各产品市场表现：<span class="biaozhuColor"><span class="producttime">NULL</span></span>年累计一年，<span class="biaozhuColor"><span class="categoryclass">xx</span></span>类药物
                                        中排名前三的品牌分别为<span class="biaozhuColor"><span class="producttop3">A、B、C</span></span>市场份额分别是<span class="biaozhuColor"><span class="producttop3salse">a、b、c</span></span>。
                                    </li>

                                        <!-- <li>
								历年上市新产品市场表现：<span class="biaozhuColor">201x</span>年上市多达<span class="biaozhuColor">x</span>个，<span class="biaozhuColor">内资产品居多</span>，
								<span class="biaozhuColor">阿托伐他汀</span>。
							</li> -->
                                </ul>
                            </div>
                            <div class="h10"></div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-center smallContent">
                                市场需求和机遇
                            </div>
                            <div style="height: 5px; line-height: 5px;clear: both;"></div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 descriContent" style="padding-left: 0;line-height: 25px;">
                                <ul style="padding-left: 20px;margin-bottom: 0px;">
                                    <li>提高知晓率，治疗率和依从性。</li>
                                    <li>关注年轻化的患者群体；新型调脂类应关注对心血管的积极作用。</li>
                                </ul>
                            </div>
                            <div class="h10"></div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="padding-left: 0;">
                                <div class="contentTitle">
                                    高脂血症及其用药市场概述
                                </div>
                                <div class="h10"></div>
                                <div class="contentSubTitle">
                                    高脂血症疾病综述
                                </div>
                                <div class="h10"></div>
                                <div class="smallText">
                                    高脂血症是脂质代谢运转异常，使血清中总胆固醇（Total cholesterol，TC）、甘油三酯（Triglyceride，TG）及低密度脂蛋白（Low-density lipoprotein，LDL-C）含量升高，
                                    高密度脂蛋白（High-density lipoprotein，HDL-C）含量降低的临床综合征。
                                </div>
                                <div class="smallText">
                                    中国高脂血症的患病率大于20%，发病率大于10%，其中需要药物干预的约占总数的80%。伴随人口老龄化加速、不合理的饮食结构及生活方式，高脂血症的发病率将逐年上升。
                                    我国高脂血症的发病率呈年轻化和地域性分布，北方高于南方，城市高于农村。中国高脂血症的知晓率、就诊率和治疗率均低。
                                    由于血脂异常患者本身无任何症状，因此对治疗的依从性差。近年来，中国进行调脂治疗患者中的达标率仅为60%，不达标与停药、减药、漏药等相关。
                                    高脂血症是动脉粥样硬化、心血管疾病和脂肪肝发病的主因。心血管系统疾病发病率和死亡率第一且致残率高，积极治疗高脂血症是预防心血管疾病的重要手段。
                                </div>
                                <div class="h10"></div>
                                <div class="contentSubTitle">
                                    调脂药市场总体分析
                                </div>
                                <div class="h10"></div>
                                <div class="smallText">
                                    中国调脂药物是所有心血管系统用药中惟一市场份额大且翻倍高速增长的药物。未来十年，随着高血脂患者增多，基本医疗保障制度的全面推进，治疗率增加，规范化诊疗及新药上市，调脂药市场规模将增长至500亿元以上，平均年复合增长率不低于18%，调脂药市场前景广阔，竞争也愈发激烈。
                                </div>
                                <div class="smallText">
                                    中国调脂药以医院市场为主，处方药为核心。化学药为主，中成药为辅的市场格局中，化学药占90%左右份额且还在不断增加。
                                    调脂药市场原研产品种类多，随着专利到期、效果和价格等因素，仿制药悄然崛起，厂家众多，竞争激烈，有效降低支付成本、扩大覆盖人群。调脂药市场集中于一线城市，市场品种较多但产品同质化程度高也相对集中。
                                    调脂药市场可分为他汀类药物为代表的降胆固醇药物市场和贝特类为代表的降甘油三酯药物市场。
                                    在以立普妥为代表的他汀类药物推出后，降胆固醇药物迅速主导调脂药市场。
                                    按照细分作用机理，国内主要的降脂药物进一步分为：他汀类、贝特类（苯氧芳酸类）、烟酸及其衍生物类、多烯脂肪酸类、天然来源类及其他类。
                                    调脂药市场份额排名靠前的药物均是他汀类，他汀类合计占比达80％以上；其次是占比不到10%的非特类；余下的份额主要由血脂康占据。未来他汀类药物的主导地位在短期内不会发生改变。
                                </div>
                            </div>
                                <!-- 										页脚 -->
                                @*<%-- 					<jsp:include page="yejiao.jsp"/> --%>*@
                                <!-- 										页眉 -->
                            @*<%-- 					<jsp:include page="yemei.jsp"/> --%>*@
                            <div class="h10"></div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="padding-left: 0;">
                                <div class="contentTitle">
                                    医院<span class="categoryclass"></span>市场表现
                                </div>
                                <div class="h10"></div>
                                <div class="contentSubTitle">
                                    医院市场总体表现
                                </div>
                                <div class="smallText">
                                    根据法伯科技(PHA)对我国他汀类调脂药医院市场的数据来看，<span class="hospmarketsummarytime">NULL</span>年，中国医院市场的<span class="biaozhuColor"><span class="categoryclass"></span>市场</span>总体呈现<span class="biaozhuColor yiyuanzongtibxqs">上升</span>趋势；
                                    未来调脂药总体市场仍会继续保持增长。
                                    <span class="biaozhuColor"><span class="hospmarketsummaryendtime">NULL</span></span>中国医院市场<span class="biaozhuColor categoryclass"></span>的年累计销售额达人民币<span class="biaozhuColor hospmarketsummarysales">NULL</span>亿元，
                                    增长率达到<span class="biaozhuColor hospmarketsummarytrend">X%</span>。
                                </div>
                                <div class="h10"></div>
                                <div class="text-center">
                                    <div id="reportgraphone" style="width: 100%;height: 500px;"></div>
                                </div>
                                <div class="text-center smallText">
                                    图<span id="one">1</span>.<span class="biaozhuColor"></span>中国医院<span class="biaozhuColor categoryclass"></span>年累计销售额表现。
                                </div>
                                <div class="h10"></div>
                                    <!-- <div class="text-center">
							<img src="../assets/images/reportimg/report02.png" width="600" height="300"/>
						</div>
						<div class="text-center smallText">
							图1.<span class="biaozhuColor">MAT2012.2-MAT2016.2</span>中国医院<span class="biaozhuColor">他汀类调脂药年累计销售额</span>表现。
						</div> -->
                                <div class="h10"></div>
                                    <!--<div class="btprovince">
                                <div class="contentSubTitle">
                                    不同省份市场表现
                                </div>
                                <div class="smallText">
                                    国内的调脂药市场主要集中在几个一线城市，一线城市调脂药物品种齐全，竞争激烈。近年来，重点省份的市场占有率虽然居高，但增长迟缓，提示最核心市场逐步向次一级市场发展。<span class="biaozhuColor shengfenshichangtime">NULL</span>年，
                                    <span class="biaozhuColor shengfenshichangtop3">NULL省份</span>，医院<span class="biaozhuColor shengfenshichangatcname">NULL</span>市场
                                    销售额复合增长率高达<span class="biaozhuColor shengfenshichangfhzzl">NULL</span>，到<span class="shengfenshichangtime"></span>年<span class="biaozhuColor shengfenshichangtop3">NULL</span>省份市场贡献率高达
                                    <span class="biaozhuColor shengfenshichanggxl">NULL</span>。卫生总费用较高的省份往往市场份额较高且增长潜力良好，各省<span class="biaozhuColor"><span class="categoryclass"></span>市场</span>是以
                                    <span class="biaozhuColor shengfenshichangtop3">NULL</span>的潜力更大，大城市集中的二级省份以较高增长率和财政支出未来增长潜力巨大。

                                </div>
                                <div class="h10"></div>
                                <div class="text-center">
                                    <div id="yearScatter" style="width: 100%; height: 400px"></div>
                                </div>
                                <div class="text-center smallText">
                                    图<span id="two">2</span>.各省<span class="biaozhuColor img2atcname">NULL</span>医院市场份额占比和销售额复合增长率。
                                </div>
                                <div class="h10"></div>
                                <div>
                                    <span style="width: 25px;height: 15px;border-radius:12px; background-color: #C85C60;display: inline-block;vertical-align: sub;"></span>潜力最大
                                    &nbsp;&nbsp;<span style="width: 25px;height: 15px;border-radius:12px; background-color: #E2A389;display: inline-block;vertical-align: sub;"></span>潜力适中
                                    &nbsp;&nbsp;<span style="width: 25px;height: 15px;border-radius:12px; background-color: #EECE9D;display: inline-block;vertical-align: sub;"></span>潜力最小
                                    &nbsp;&nbsp;<span style="width: 25px;height: 15px;border-radius:12px; background-color: #EEEEEE;display: inline-block;vertical-align: sub;"></span>暂无数据
                                </div>
                                <div class="text-center">
                                    <div id="yearMapQlt" style="width: 100%; height: 400px"></div>
                                </div>
                                <div class="text-center smallText">
                                    图<span id="three">3</span>.各省<span class="biaozhuColor img3atcname">NULL</span>医院市场潜力地图。
                                </div>
                                <div class="h10"></div>
                            </div> -->
                                <div class="contentSubTitle">
                                    国内外产品竞争态势
                                </div>
                                <div class="smallText">
                                    外资合资企业因其专利药和成功的市场推广，在调脂药市场中处于优势和主导地位。外资合资企业占据调脂药2/3的市场份额，尤其在三级医院的市场集中度更高。
                                    <span class="biaozhuColor enterprisetime">NULL</span>年，外资药物占<span class="biaozhuColor categoryclass">NULL</span>份额的
                                    <span class="biaozhuColor enterprisepercent">70%</span>以上，销售额占比呈现<span class="biaozhuColor waizibentuqs">NULL</span>趋势。
                                    到<span class="enterpriseendtime">NULL</span>年，外资企业销售额达到<span class="biaozhuColor enterprisesales">xxx</span>亿元，
                                    销售额占比达到<span class="biaozhuColor enterprisepercent">NULL</span>；国内企业销售额为<span class="biaozhuColor enterpriseintersales">NULL</span>亿元。
                                </div>
                                <div class="h10"></div>
                                <div class="text-center">
                                    <div id="reportgraphfour" style="width: 100%; height: 600px"></div>
                                </div>
                                <div class="text-center smallText">
                                    图<span id="four">2</span>.<!--<span class="biaozhuColor img4time">NULL</span>年，-->中国医院<span class="biaozhuColor categoryclass">NULL</span>外资/合资与内资企业销售表现。
                                </div>
                                <div class="h10"></div>
                                <div class="contentSubTitle">
                                    Top10 厂家
                                </div>
                                <div class="smallText">
                                    市场相对集中，<span class="top10changjiamiaoshutime">NULL</span>年，排名前十的公司为医院<span class="categoryclass"></span>市场贡献销售额在<span class="biaozhuColor top10changjiazb">NULL</span>以上。
                                    跨国药企在医院<span class="categoryclass"></span>市场占主导地位。到<span class="biaozhuColor top10changjiamiaoshutime">NULL</span>年，排名前十的企业中，外资和合资企业<span class="biaozhuColor top10changjiawaizicount">x</span>家。
                                    其中最为突出的是<span class="biaozhuColor top10changjiagongs">NULL</span>公司，到<span class="biaozhuColor top10changjiamiaoshutime">NULL</span>年，不同规格产品<span class="biaozhuColor top10chanpinnum">NULL</span>个
                                    ，为医院<span class="categoryclass"></span>市场贡献<span class="biaozhuColor top10scxsezb">NULL</span>的销售额，且增长率为<span class="biaozhuColor top10scxsezzl">NULL</span>。<span class="biaozhuColor top10changjiamiaoshutime">NULL</span>年，增长最为迅速的公司为<span class="biaozhuColor"><span class="xunsechengz">NULL</span></span>，增长率高达<span class="biaozhuColor xunsechengzzzl">NULL</span>。
                                </div>
                                <div class="h10"></div>
                                    <!--<div class="smallText">
                                表1.<span class="biaozhuColor top10changjiamiaoshutime">NULL</span>年，中国<span class="categoryclass"></span>TOP 10 厂家市场表现 □外资或合资公司 △ 国内公司。
                            </div>
                            <div class="text-center">
                                <div id="list1">

                                </div>

                            </div>-->
                                <div class="h10"></div>
                                <div class="contentSubTitle">
                                    Top10 产品
                                </div>
                                <div class="smallText">
                                    品牌集中度较高，<span class="biaozhuColor top10producttime">NULL</span>年，中国医院<span class="biaozhuColor categoryclass">NULL</span>TOP10的产品销售总额占到中国医院<span class="biaozhuColor categoryclass">NULL</span>市场的<span class="biaozhuColor top10producttrend">NULL</span>以上。
                                </div>
                                <div class="smallText">
                                    到<span class="producttime">NULL</span>年，TOP10的产品中,
                                    <span class="biaozhuColor top10manufacture">NULL</span>公司的产品<span class="biaozhuColor top10manufactureproduct">NULL</span>占<span class="biaozhuColor categoryclass">NULL</span>近<span class="biaozhuColor top10manufactureproducttrend">NULL</span>。
                                    到<span class="producttime">NULL</span>年，有<span class="biaozhuColor top10productinter">NULL</span>家为国内企业的产品，分别为<span class="biaozhuColor top10productname">ABC</span>，占比总和为<span class="biaozhuColor top10productnametrendsum">abc</span>。
                                </div>
                                <div class="h10"></div>
                                <div class="text-center">
                                    <div id="reportgraphseven" style="width: 100%; height: 600px"></div>
                                </div>
                                <div class="text-center smallText">
                                    图<span id="five">3</span>.<!--<span class="biaozhuColor img5time">NULL</span>年，-->中国<span class="biaozhuColor categoryclass">他汀类</span>医院市场TOP10品牌销售总额占比。
                                </div>
                                <div class="text-center">
                                    <div id="reportgrapheight" style="width: 100%; height: 600px"></div>
                                </div>
                                <div class="text-center smallText">
                                    图<span id="six">4</span>.<!--<span class="biaozhuColor img6time">NULL</span>年，-->中国<span class="biaozhuColor categoryclass">他汀类</span>医院市场TOP10品牌销售占比。
                                </div>
                                <div class="h10"></div>
                                    <!-- 图7 开始 -->
                                <div class="img7">
                                    <div class="contentSubTitle">
                                        <span style="color: red;" class="categoryclass">NULL</span>各通用名市场分析
                                    </div>
                                    <div class="smallText">
                                        从各他汀类分子<span class="biaozhuColor oraltime">NULL</span>年销售额市场占有率来看，排名前三的他汀类分子种类为
                                        <span class="biaozhuColor top3oral">NULL</span>。<span class="biaozhuColor" id="oralendtime"></span>在医院他汀类调脂药市场的销售额
                                        占比分别为<span class="biaozhuColor top3oraltrend">NULL</span>。
                                    </div>
                                    <div class="smallText">
                                        他汀类是羟甲基戊二酰辅酶A（HMG-CoA）还原酶抑制剂，主要降低LDL。
                                        他汀类是一线调脂药，因为其通过LDL，将调脂治疗与降低心血管风险紧密联系，借助心血管循证依据占据调脂药主流市场，从而占据调脂药市场的绝对主导。
                                        他汀类还可用于急性缺血性脑卒中后的神经保护，为他汀类药物进一步拓展了市场。
                                        目前，在我国销售的他汀类调血脂药物主要是阿托伐他汀、瑞舒伐他汀、辛伐他汀、普伐他汀钠和氟伐他汀等。
                                        除瑞舒伐他汀进入各省医保目录，其它产品均于2004年9月，进入了《国家基本医疗保险药品目录》乙类目录。
                                        <div class="h10"></div>
                                        <p><span class="contentLi">阿托伐他汀：</span>自在中国上市以来，一路领先，在他汀类调脂药医院市场占有率迅速增加到50%以上。</p>
                                        <p><span class="contentLi">瑞舒伐他汀：</span>其市场份额自上市迅速攀升，抢占了调脂药市场近 1/4 的市场份额，是调脂药中增长最快的药物。</p>
                                        <p><span class="contentLi">辛伐他汀：</span>自2012年销售排名逐渐下降，但较高的性价比，依然在市场占据重要地位，更适用于经济受限患者。</p>
                                        <p><span class="contentLi">普伐他汀：</span>市后表现突出，但自2012年销售额排序降至调脂药的第4位。</p>
                                        <p><span class="contentLi">氟伐他汀：</span>受其适应症限制，市场份额占比不高。</p>
                                        <p>其它分子市场占有率较低，比较突出的有洛伐他汀，其市场份额逐年下降至占整个调脂药市场的不足5%。</p>
                                    </div>
                                    <div class="h10"></div>
                                    <div class="text-center">
                                        <div id="reportgraphfive" style="width: 100%; height: 600px"></div>
                                    </div>
                                    <div class="text-center smallText">
                                        图<span id="seven">5</span>.<!--<span class="biaozhuColor img7time">NULL</span>年，-->各分子类别在医院<span class="biaozhuColor atcimg7name">他汀类调脂药</span>市场销售额占比。
                                    </div>
                                    <div class="h10"></div>
                                </div>
                                    <!-- 图7 结束 -->
                                <div class="contentSubTitle">
                                    <span class="categoryclass"></span>市场各产品市场表现
                                </div>
                                <div class="h10"></div>
                                <div class="smallText">
                                    <span class="biaozhuColor productendtime">NULL</span>年，<span class="biaozhuColor categoryclass">NULL</span>药物中排名前三的品牌分别为<span class="biaozhuColor producttop3">NULL</span>，销售额分别是<span class="biaozhuColor producttop3salse">abc</span>。
                                </div>
                                <div class="h10"></div>
                                <div class="smallText">
                                    <div class="smallText">
                                        <span class="categoryclass"></span>市场有上百个产品，仿制药众多，竞争激烈。
                                    </div>
                                    <div class="h10"></div>
                                    <div id="atftt">
                                        <p><span class="contentLi">阿托伐他汀：</span>
                                            对HMG-CoA还原酶具有选择性强效抑制作用，半衰期长，治疗剂量（10～80 mg/d）下可显著减低TC及 LDL-C水平且安全性高。
                                            原研药是辉瑞公司的立普妥。立普妥上市后，逐步增加适应症以及更新使用方法，有效的维持了其稳定增长。
                                            立普妥在中国的专利已于2011底到期，更多仿制药进入市场，竞争激烈。以两个国产产品阿托伐他汀钙片（阿乐）和阿托伐他汀钙胶囊（尤佳）为代表，疗效与合资外资产品相差无几，每日服药费用相对较低，销售额逐步上升。
                                            阿托伐他汀的治疗费用相对较高，限制了其在低收入人群中的使用。但是仿制药众多，竞争中端市场。
                                        </p>
                                    </div>
                                    <div id="rsftt">
                                        <p><span class="contentLi">瑞舒伐他汀：</span>
                                            原研药是阿斯利康于2006年在我国上市的可定。是第3代他汀类药物，因其作用强、使用剂量低（是阿托伐他汀的一半）、半衰期长、安全性高、药物相互作用少和费用较低等优点，被誉为“超级他汀”。
                                            另外，瑞舒伐他汀可以逆转动脉粥样硬化，从而有效用于心脑血管事件一、二级预防，未来市场前景光明。
                                        </p>
                                    </div>
                                    <div id="xftt">
                                        <p><span class="contentLi">辛伐他汀：</span>
                                            是治疗原发性高胆固醇血症的药物。辛伐他汀因其疗效确切、耐受性良好和治疗费用低廉，成为2009年版《国家基本药物目录》中唯一的调脂西药。上市较早的辛伐他汀由于致严重肌损害风险较高，使用明显受限。
                                            辛伐他汀在国内市场上的主要品牌是杭州默沙东的舒降之，专利于2005年12月到期，目前国内有京必舒新、辛可、西之达、幸露、泽之浩等30多家仿制药。
                                        </p>
                                    </div>
                                    <div id="pftt">
                                        <p><span class="contentLi">普伐他汀：</span>
                                            源于微生物，属亲水性他汀类药物，普伐他汀可显著降低LDL-C，调脂作用与辛伐他汀相当，可较少通过肝脏细胞色素P450酶系统代谢，药物相互作用较少。
                                            具有老年人口服吸收迅速、蛋白结合率低和不良反应少等特点。由日本三共制药株式会社研制，百时美施贵宝在国内商品名为“普拉固”来经营。普拉固占普伐他汀市场一半以上的份额，日本三共株式会社和上海三共制药公司分别占10%。
                                            仿制药众多且仿制药市场份额逐年缓慢增加，如北京诺华、北京双鹤、广州南新制药、海正药业（富利他之）、华北制药（福他宁）。
                                        </p>
                                    </div>
                                    <div id="fftt">
                                        <p><span class="contentLi">氟伐他汀：</span>
                                            是第二代全合成调血脂产品，水溶性，进入体内吸收后80%被代谢，经肠道排出体外，难以通过血脑屏障，对中枢系统影响小，未见组织残留，是治疗家族性高脂血症的药物。原研药是诺华公司的来适可，占氟伐他汀市场份额主导地位，但专利于2015年到期，仿制药不多，但也将分割部分市场。
                                        </p>
                                    </div>
                                </div>
                                <div class="h10"></div>
                                <div class="text-center">
                                    <div id="reportgraphsix" style="width:100%;height: 600px"></div>
                                </div>
                                <div class="text-center smallText">
                                    图<span id="eight">6</span>. <!--<span class="biaozhuColor img8time">NULL</span>年，-->类别中各产品医院市场的销售额。
                                </div>

                                <div class="h10"></div>
                            </div>
                            <div class="h10"></div>
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="padding-left: 0;">
                                <div class="contentTitle">
                                    市场需求和机遇
                                </div>
                                <div class="h10"></div>
                                <div class="contentSubTitle">
                                    提高知晓率，治疗率和依从性
                                </div>
                                <div class="smallText">
                                    晓率低、就诊率低、依从性差是目前该治疗领域发展最大的障碍。正确调脂理念在基层和非专科医生群体的普及是当下和未来中国调脂领域的关键。
                                </div>
                                <div class="h10"></div>
                                <div class="contentSubTitle">
                                    关注年轻化的患者群体
                                </div>
                                <div class="smallText">
                                    高脂血症患病率呈年轻化趋势，原因在于青年人面临巨大的工作和生活压力、饮食不合理及缺乏运动，使超重和肥胖严重，也增加了高脂血症患者。高脂血症患者应注重改善饮食结构、加强运动，必要时进行药物治疗。而医疗行业也应该投注更多关注在年轻化的患者群体。
                                </div>
                                <div class="h10"></div>
                                <div class="contentSubTitle">
                                    调脂治疗理念革新，预防为主，个性化治疗
                                </div>
                                <div class="smallText">
                                    医师应重视治疗性生活方式改变（TLC）的重要性，不过分依赖药物治疗。加强健康生活的宣教，建议患者减少摄入动物性脂肪和胆固醇，多运动，对超重或肥胖的患者应鼓励其减轻体质量。根据患者的具体情况制订个体化的治疗方案。
                                </div>
                                <div class="h10"></div>
                                <div class="contentSubTitle">
                                    在研新药丰富，新型调脂药应继续关注对心血管系统的积极作用
                                </div>
                                <div class="smallText">
                                    降脂药已经成为现代药物研究的重点。目前，调脂药物很大程度上能满足临床调脂需求，但在进一步降低LDL，升高HDL，有效治疗家族性高血脂症这三方面，仍有空间，这也给在研的新药带来机会。
                                </div>
                                <div class="smallText">
                                    降低 LDL方面：针对更强效、更安全耐受以及和他汀联用等方面着力。如，PCSK9抑制剂目前是一个热点，在研新药有: 安进的Evolocumab、赛诺菲的Alirocumab和辉瑞的Bococizumab。
                                </div>
                                <div class="smallText">
                                    升高HDL方面：在研药物包括CETP抑制剂、Apo合成肽等。
                                </div>
                                <div class="smallText">
                                    有效治疗家族性高血脂症方面：如已经在美国上市的Lomitapide (Aegerio)和Mipomersen (ISIS) ，适应症的区别使得它们能够与他汀类进行错位竞争。
                                </div>
                                <div class="smallText">
                                    未来十年，中国调脂市场仍更青睐有益于心血管系统的药物，或更好降低LDL的新药。从在研新药看，关注于他汀类药物无法企及的病人群，比如未满足治疗需求的难治性血脂异常或他汀不耐受患者。而证明对心血管疾病的积极作用是跟随最新治疗理念，进入主市场，迅速占据市场份额的关键。
                                </div>
                                <div class="h10"></div>
                                <div class="contentSubTitle">
                                    联合用药为治疗提供更多选择
                                </div>
                                <div class="smallText">
                                    高血脂症也是一种综合性疾病，单独用药往往不能达到非常理想的治疗效果，合理的联合用药是非常不错的选择。企业间也应竞争与合作共存。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
}{
    <script>
            var md5report = "@reportid"
    </script>
    <script src="@routes.Assets.at("js/report2.js")"></script>

}